<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myRecipe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>606281BF266E9CF500D05EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606281D8266E9CF700D05EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606281E3266E9CF700D05EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
